// Fuentes
$fuente-principal: 'Outfit', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl_desktop: 1200px;

// Colores
$azul: #007df4;
$secundario: #00c8c2;
$secundario2: #eafffe;


$negro: #1a1b15;
$blanco: #FFFFFF;
$gris: #64748B;
$gris-claro: #F8FAFC;
$gris-oscuro: #1E293B;


$rojo: #ff0000;
$verde: #02db02;

// Fuentes
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;


$body-color-dark: #e0e0e0;
$body-bg-dark: #212529;
$body-emphasis-color-dark: #f8f9fa;
$body-secondary-color-dark: #adb5bd;
$body-secondary-bg-dark: #343a40;
$body-tertiary-color-dark: #6c757d;
$body-tertiary-bg-dark: #495057;
$headings-color-dark: inherit;
$link-color-dark: #0d6efd;
$link-hover-color-dark: #0a58ca;
$code-color-dark: #d6336c;
$mark-color-dark: #ffc107;
$mark-bg-dark: #212529;
$border-color-dark: #495057;
$border-color-translucent-dark: rgba(255, 255, 255, 0.15);
$form-valid-color-dark: #198754;
$form-valid-border-color-dark: #198754;
$form-invalid-color-dark: #dc3545;
$form-invalid-border-color-dark: #dc3545;

